<div class="card mt-3 mb-3">
  <div class="card-header">Booking Lookup</div>
  <div class="card-body">
    <form [formGroup]="bookingSearchForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="confirmationCode">Confirmation Code*</label>
          <input
            type="text"
            class="form-control"
            id="confirmationCode"
            placeholder="082d7046-ca66-46d1-ae90-4af1aa613dd8"
            formControlName="confirmationCode"
            [ngClass]="{
              'is-valid': bookingSearchForm.controls.confirmationCode.valid,
              'is-invalid':
                bookingSearchForm.controls.confirmationCode.invalid &&
                (bookingSearchForm.controls.confirmationCode.dirty ||
                  bookingSearchForm.controls.confirmationCode.touched)
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="bookingSearchForm.controls.confirmationCode.errors"
          >
            <div
              *ngIf="
                bookingSearchForm.controls.confirmationCode.errors.required
              "
            >
              A confirmation code is required
            </div>
            <div
              *ngIf="bookingSearchForm.controls.confirmationCode.errors.pattern"
            >
              The confirmation code must be a valid UUID
            </div>
          </div>
        </div>
      </div>

      <app-loading-button
        [style]="'primary'"
        [type]="'submit'"
        [disabled]="!bookingSearchForm.valid"
        [text]="'Lookup'"
        (onClick)="onSubmit()"
      ></app-loading-button>
    </form>
    <div class="alert alert-danger mt-3" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
<div class="card mb-3" *ngIf="user">
  <div class="card-header">My Bookings</div>
  <div class="card-body">
    <ul class="list-group" *ngIf="bookings">
      <li *ngFor="let userBooking of bookings" class="list-group-item">
        Booking <code>{{ userBooking.confirmationCode }}</code>
        <button
          type="button"
          class="ml-2 btn btn-secondary btn-sm"
          [disabled]="
            userBooking.confirmationCode ===
            this.bookingSearchForm.get('confirmationCode')!.value
          "
          (click)="lookupBooking(userBooking.confirmationCode)"
        >
          Details
        </button>
      </li>
    </ul>
    <p *ngIf="!bookings">You don't have any bookings yet.</p>
  </div>
</div>
<div
  class="jumbotron jumbotron-fluid mb-0"
  *ngIf="checkedOut"
  id="CheckoutComplete"
>
  <div class="container">
    <h1 class="display-4">Booking completed</h1>
    <p class="lead">Thank you for booking with Utopia!</p>
  </div>
</div>
<div class="card mb-5" *ngIf="booking">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="align-self-center">
        Booking
        <span
          class="badge"
          [ngClass]="{
            'badge-success': booking.isActive,
            'badge-danger': !booking.isActive
          }"
          >{{ booking.isActive ? "Active" : "Canceled" }}</span
        >
      </div>
      <div>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          *ngIf="booking.isActive"
          (click)="cancelBooking(booking.id)"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="alert alert-success" *ngIf="canceled > 0">
      This booking has been canceled and refunded.
    </div>
    <div class="alert alert-danger" *ngIf="cancelError">{{ cancelError }}</div>
    <ngb-accordion #acc="ngbAccordion" activeIds="1">
      <ngb-panel title="Info" [id]="'details'">
        <ng-template ngbPanelContent>
          <p class="text-muted">
            Booked as
            {{
              booking.bookingUser
                ? "User"
                : booking.bookingAgent
                ? "Agent"
                : "Guest"
            }}
          </p>
          <p>
            Confirmation Code: <code>{{ booking.confirmationCode }}</code>
          </p>
          <p *ngIf="booking.bookingGuest" id="guestEmail">
            Guest Email: {{ booking.bookingGuest.contactEmail }}
          </p>
          <p *ngIf="booking.bookingGuest" id="guestPhone">
            Guest Phone: {{ booking.bookingGuest.contactPhone }}
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Flights">
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li *ngFor="let flight of booking.flights" class="list-group-item">
              <h6>
                {{ flight.route.originAirport.iataId }} &rarr;
                {{ flight.route.destinationAirport.iataId }}
              </h6>
              <p>{{ flight.departureTime | date: "short" }}</p>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Passengers">
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              *ngFor="let passenger of booking.passengers"
            >
              <p class="pass-name">
                Name: {{ passenger.givenName }} {{ passenger.familyName }}
              </p>
              <p class="pass-dob">Birthday: {{ passenger.dob }}</p>
              <p class="pass-gen">Gender: {{ passenger.gender }}</p>
              <p class="pass-addr">Address: {{ passenger.address }}</p>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Payment Info" *ngIf="bookingPayment">
        <ng-template ngbPanelContent>
          <p id="paymentInfo">
            <strong>{{
              bookingPayment.amount / 100
                | currency: bookingPayment.currency.toUpperCase()
            }}</strong>
            {{ booking.bookingPayment.refunded ? "refunded to" : "paid with" }}
            {{ bookingPayment.cardBrand }} ending in
            <em>{{ bookingPayment.lastFour }}</em>
          </p>
          <span class="text-muted" *ngIf="!booking.bookingPayment.refunded">
            {{ bookingPaymentDate | date: "short" }}
          </span>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
