<div class="card mt-3 mb-5">
    <div class="card-header">Flight Search:</div>
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="originAirport">Origin</label>
            </div>
            <input id="originAirport" type="text" class="form-control" [ngbTypeahead]="search" (change)="validateOriginAirport(textOrigin.value)" #textOrigin/> 
            <div class="input-group-prepend">
                <label class="input-group-text" for="destinationAirport">Destination</label>                
            </div> 
            <input id="destinationAirport" type="text" class="form-control" [ngbTypeahead]="search" (change)="validateDestinationAirport(textDestination.value)" #textDestination/>           
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="departureDateIdTo">Departure</label>
                <button type="button" class="btn btn-default input-group-text" aria-label="Calendar" id="departureDateIdTo" (click)="d.toggle()">
                    <span aria-hidden="true"><em class="bi bi-calendar"></em></span>
                </button>                                
                <ng-template #popTemplate>
                    <timepicker [(ngModel)]="departureDateTo" [showMeridian]="true"></timepicker>
                </ng-template> 
                <button type="button" class="btn btn-default input-group-text" aria-label="Time" [popover]="popTemplate" 
                    [outsideClick]="true" placement="bottom">
                    <span aria-hidden="true"><em class="bi bi-clock"></em></span>
                </button>
                <input type="text" [(ngModel)]="departureDateTo" class="hideInput"
                    placement="right" name="dp" ngbDatepicker #d="ngbDatepicker"/>
            </div>
            <input class="form-control" [(ngModel)]="departureDateTo"/>    
            <div class="input-group-prepend">
                <label class="input-group-text" for="stops">Stops</label>
                <select class="custom-select" id="stops" (change)="updateStopsTo(stopsTo.value)" #stopsTo>
                    <option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                </select>
            </div>
        </div>
        <div *ngIf="isOriginAirportValid && isDestinationAirportValid" class="input-group mb-3">
            <div class="card mt-1" *ngIf="chosenFlightPathTo.length > 0">
                <div class="card-header">
                    <button type="button" class="btn btn-danger" (click)="removeFlightPathTo()">Remove Flightpath</button>
                </div>
                <div class="card-body">
                    <table class="table" aria-label="chosen flight path">
                        <thead>
                            <tr>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Date</th>
                                <th scope="col">Seats Available</th>
                                <th scope="col">Seat Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of chosenFlightPathTo">
                                <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                                <td>{{flight.route.destinationAirport.city+", "+flight.route.destinationAirport.iataId}}</td>
                                <td>{{flight.departureTime}}</td>
                                <td>{{flight.availableSeats}}</td>
                                <td>{{flight.seatPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-1" *ngIf="chosenFlightPathTo.length == 0">
                <div class="card" *ngFor="let flights of flightPathsTo">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" (click)="addFlightPathTo(flights)">Add Flightpath</button>
                    </div>
                    <div class="card-body">
                        <table class="table" aria-label="flight search results">
                            <thead>
                                <tr>
                                    <th scope="col">Origin</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Seats Available</th>
                                    <th scope="col">Seat Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let flight of flights">
                                    <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                                    <td>{{flight.route.destinationAirport.city+", "+flight.route.destinationAirport.iataId}}</td>
                                    <td>{{flight.departureTime}}</td>
                                    <td>{{flight.availableSeats}}</td>
                                    <td>{{flight.seatPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
            <div class="card mt-1" *ngIf="flightPathsTo.size == 0">
                <div class="card-header">
                    <button type="button" class="btn btn-primary">No Flight Paths Found</button>
                </div>
            </div>
        </div>
        <div *ngIf="chosenFlightPathTo.length > 0 && isOriginAirportValid && isDestinationAirportValid" class="input-group mb-3">
            <div class="input-group-prepend" *ngIf="chosenFlightPathTo.length > 0">
                <label class="input-group-text" for="roundTrip">Round-Trip</label>
                <div class="input-group-text">
                    <input type="checkbox" id="roundTrip" aria-label="Checkbox for round trip" (click)="toggleRoundTrip()">
                </div>
            </div>
            <div *ngIf="isRoundTrip" class="input-group-prepend">
                <label class="input-group-text" for="departureDateIdFrom">Departure</label>
                <button type="button" class="btn btn-default input-group-text" aria-label="Calendar" id="departureDateIdFrom" (click)="df.toggle()">
                    <span aria-hidden="true"><em class="bi bi-calendar"></em></span>
                </button>                           
                <ng-template #popTemplate>
                    <timepicker [(ngModel)]="departureDateFrom" [showMeridian]="true"></timepicker>
                </ng-template> 
                <button type="button" class="btn btn-default input-group-text" aria-label="Time" [popover]="popTemplate" 
                    [outsideClick]="true" placement="bottom">
                    <span aria-hidden="true"><em class="bi bi-clock"></em></span>
                </button>
                <input type="text" [(ngModel)]="departureDateFrom" class="hideInput" 
                    placement="right" name="dpf" ngbDatepicker #df="ngbDatepicker"/>     
            </div>
            <input *ngIf="isRoundTrip" class="form-control" [(ngModel)]="departureDateFrom"/>            
            <div *ngIf="isRoundTrip" class="input-group-prepend" >
                <label class="input-group-text" for="stops">Stops</label>
                <select class="custom-select " id="stops" (change)="updateStopsFrom(stopsFrom.value)" #stopsFrom> 
                    <option selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                </select>
            </div>
        </div>
        <div *ngIf="chosenFlightPathTo.length > 0 && isRoundTrip && isOriginAirportValid && isDestinationAirportValid" class="input-group mb-3">
            <div class="card mt-1" *ngIf="chosenFlightPathFrom.length > 0">
                <div class="card-header">
                    <button type="button" class="btn btn-danger" (click)="removeFlightPathFrom()">Remove Flightpath</button>
                </div>
                <div class="card-body">
                    <table class="table" aria-label="chosen return flight path">
                        <thead>
                            <tr>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Date</th>
                                <th scope="col">Seats Available</th>
                                <th scope="col">Seat Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of chosenFlightPathFrom">
                                <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                                <td>{{flight.route.destinationAirport.city+", "+flight.route.destinationAirport.iataId}}</td>
                                <td>{{flight.departureTime}}</td>
                                <td>{{flight.availableSeats}}</td>
                                <td>{{flight.seatPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-1" *ngIf="chosenFlightPathFrom.length == 0">
                <div class="card" *ngFor="let flights of flightPathsFrom">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" (click)="addFlightPathFrom(flights)">Add Flightpath</button>
                    </div>
                    <div class="card-body">
                        <table class="table" aria-label="return flight search results">
                            <thead>
                                <tr>
                                    <th scope="col">Origin</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Seats Available</th>
                                    <th scope="col">Seat Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let flight of flights">
                                    <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                                    <td>{{flight.route.destinationAirport.city+", "+flight.route.destinationAirport.iataId}}</td>
                                    <td>{{flight.departureTime}}</td>
                                    <td>{{flight.availableSeats}}</td>
                                    <td>{{flight.seatPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mt-1" *ngIf="isRoundTrip && flightPathsFrom.size == 0">
                <div class="card-header">
                    <button type="button" class="btn btn-primary">No Flight Paths Found</button>
                </div>
            </div>
        </div>    
    </div>
</div>