<div class="card mt-3 mb-5">
  <div class="card-header">Flight Search:</div>
  <div class="card-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="originAirport">Origin</label>
      </div>
      <input id="originAirport" type="text" placeholder="New York" class="form-control" [ngbTypeahead]="search"
        (change)="validateOriginAirport(textOrigin.value)" #textOrigin />
      <div class="input-group-prepend">
        <label class="input-group-text" for="destinationAirport">Destination</label>
      </div>
      <input id="destinationAirport" type="text" placeholder="Portland, PDX" class="form-control"
        [ngbTypeahead]="search" (change)="validateDestinationAirport(textDestination.value)" #textDestination />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="startDateLabelTo">Departure</label>
        <label class="input-group-text" id="startDateLabelTo" for="departureDateStartIdTo">Start</label>
        <button type="button" class="btn btn-default input-group-text" aria-label="Calendar" id="departureDateStartIdTo"
          (click)="dst.toggle()">
          <span aria-hidden="true"><em class="bi bi-calendar"></em></span>
        </button>
        <input type="text" [ngModel]="dateRangeStartTo" (ngModelChange)="departureDateRangeStartTo($event)"
          class="hideInput" placement="right" name="dp" ngbDatepicker #dst="ngbDatepicker"
          [minDate]="getMinDateNow()" />
        <label class="input-group-text" id="endDateLabelTo" for="departureDateEndIdTo">End</label>
        <button type="button" class="btn btn-default input-group-text" aria-label="Calendar" id="departureDateEndIdTo"
          (click)="det.toggle()">
          <span aria-hidden="true"><em class="bi bi-calendar"></em></span>
        </button>
        <input type="text" [ngModel]="dateRangeEndTo" (ngModelChange)="departureDateRangeEndTo($event)"
          class="hideInput" placement="right" name="dp" ngbDatepicker #det="ngbDatepicker"
          [minDate]="getMinDate(dateRangeStartTo)" />
      </div>
      <input class="form-control" [ngModel]="departureDateStringTo" disabled="disabled" />
      <div class="input-group-prepend">
        <label class="input-group-text" for="stops">Stops</label>
        <select class="custom-select" id="stops" (change)="updateStopsTo(stopsTo.value)" #stopsTo>
          <option selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
        </select>
      </div>
    </div>
    <div *ngIf="isOriginAirportValid && isDestinationAirportValid" class="input-group mb-3">
      <div class="card mt-1" *ngIf="chosenFlightPathTo.length > 0">
        <div class="card-header">
          <button type="button" class="btn btn-danger" (click)="removeFlightPathTo()">Remove Departure Flight</button>
        </div>
        <div class="card-body">
          <table class="table" aria-label="chosen flight path">
            <thead>
              <tr>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Date</th>
                <th scope="col">Seats Available</th>
                <th scope="col">Seat Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flight of chosenFlightPathTo">
                <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                <td>{{flight.route.destinationAirport.city+", "+flight.route.destinationAirport.iataId}}
                </td>
                <td>{{flight.departureTime}}</td>
                <td>{{flight.availableSeats}}</td>
                <td>{{flight.seatPrice}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-container *ngIf="chosenFlightPathTo.length == 0">
        <div class="card mt-1"
          *ngFor="let flights of getArrayOfFlightPaths(flightPathsTo) | slice: (page-1) * pageSize : page * pageSize">
          <div class="card-header">
            <button type="button" class="btn btn-primary" (click)="addFlightPathTo(flights)">Choose
              Departure Flight</button>
          </div>
          <div class="card-body">
            <table class="table" aria-label="flight search results">
              <thead>
                <tr>
                  <th scope="col">Origin</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Date</th>
                  <th scope="col">Seats Available</th>
                  <th scope="col">Seat Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let flight of flights">
                  <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                  <td>{{flight.route.destinationAirport.city+",
                    "+flight.route.destinationAirport.iataId}}</td>
                  <td>{{flight.departureTime}}</td>
                  <td>{{flight.availableSeats}}</td>
                  <td>{{flight.seatPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <div class="card mt-1" *ngIf="chosenFlightPathTo.length == 0 && flightPathsTo.size > 5">
        <div class="card-header">
          <ngb-pagination [collectionSize]="flightPathsTo.size" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
      <div class="card mt-1" *ngIf="flightPathsTo.size == 0">
        <div class="card-header">
          <span>No Flights Found</span>
        </div>
      </div>
    </div>
    <div *ngIf="chosenFlightPathTo.length > 0 && isOriginAirportValid && isDestinationAirportValid"
      class="input-group mb-3">
      <div class="input-group-prepend" *ngIf="chosenFlightPathTo.length > 0">
        <label class="input-group-text" for="roundTrip">Round-Trip</label>
        <div class="input-group-text">
          <input type="checkbox" id="roundTrip" aria-label="Checkbox for round trip" (click)="toggleRoundTrip()">
        </div>
      </div>
      <div *ngIf="isRoundTrip" class="input-group-prepend">
        <label class="input-group-text" for="startDateLabelFrom">Departure</label>
        <label class="input-group-text" id="startDateLabelFrom" for="departureDateStartIdFrom">Start</label>
        <button type="button" class="btn btn-default input-group-text" aria-label="Calendar"
          id="departureDateStartIdFrom" (click)="dsf.toggle()">
          <span aria-hidden="true"><em class="bi bi-calendar"></em></span>
        </button>
        <input type="text" [ngModel]="dateRangeStartFrom" (ngModelChange)="departureDateRangeStartFrom($event)"
          class="hideInput" placement="right" name="dp" ngbDatepicker #dsf="ngbDatepicker" />
        <label class="input-group-text" id="endDateLabelFrom" for="departureDateEndIdFrom">End</label>
        <button type="button" class="btn btn-default input-group-text" aria-label="Calendar" id="departureDateEndIdFrom"
          (click)="def.toggle()">
          <span aria-hidden="true"><em class="bi bi-calendar"></em></span>
        </button>
        <input type="text" [ngModel]="dateRangeEndFrom" (ngModelChange)="departureDateRangeEndFrom($event)"
          class="hideInput" placement="right" name="dp" ngbDatepicker #def="ngbDatepicker" />
      </div>
      <input *ngIf="isRoundTrip" class="form-control" [ngModel]="departureDateStringFrom" disabled="disabled" />
      <div *ngIf="isRoundTrip" class="input-group-prepend">
        <label class="input-group-text" for="stops">Stops</label>
        <select class="custom-select " id="stops" (change)="updateStopsFrom(stopsFrom.value)" #stopsFrom>
          <option selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
        </select>
      </div>
    </div>
    <div *ngIf="chosenFlightPathTo.length > 0 && isRoundTrip && isOriginAirportValid && isDestinationAirportValid"
      class="input-group mb-3">
      <div class="card mt-1" *ngIf="chosenFlightPathFrom.length > 0">
        <div class="card-header">
          <button type="button" class="btn btn-danger" (click)="removeFlightPathFrom()">Remove Return Flight</button>
        </div>
        <div class="card-body">
          <table class="table" aria-label="chosen return flight path">
            <thead>
              <tr>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Date</th>
                <th scope="col">Seats Available</th>
                <th scope="col">Seat Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flight of chosenFlightPathFrom">
                <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                <td>{{flight.route.destinationAirport.city+", "+flight.route.destinationAirport.iataId}}
                </td>
                <td>{{flight.departureTime}}</td>
                <td>{{flight.availableSeats}}</td>
                <td>{{flight.seatPrice}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-container *ngIf="chosenFlightPathFrom.length == 0">
        <div class="card mt-1"
          *ngFor="let flights of getArrayOfFlightPaths(flightPathsFrom) | slice: (returnPage-1) * returnPageSize : returnPage * returnPageSize">
          <div class="card-header">
            <button type="button" class="btn btn-primary" (click)="addFlightPathFrom(flights)">Choose
              Return Flight</button>
          </div>
          <div class="card-body">
            <table class="table" aria-label="return flight search results">
              <thead>
                <tr>
                  <th scope="col">Origin</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Date</th>
                  <th scope="col">Seats Available</th>
                  <th scope="col">Seat Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let flight of flights">
                  <td>{{flight.route.originAirport.city+", "+flight.route.originAirport.iataId}}</td>
                  <td>{{flight.route.destinationAirport.city+",
                    "+flight.route.destinationAirport.iataId}}</td>
                  <td>{{flight.departureTime}}</td>
                  <td>{{flight.availableSeats}}</td>
                  <td>{{flight.seatPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <div class="card mt-1" *ngIf="chosenFlightPathFrom.length == 0 && flightPathsFrom.size > 5">
        <div class="card-header">
          <ngb-pagination [collectionSize]="flightPathsFrom.size" [pageSize]="returnPageSize" [(page)]="returnPage"
            [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
      <div class="card mt-1" *ngIf="isRoundTrip && flightPathsFrom.size == 0">
        <div class="card-header">
          <span>No Flights Found</span>
        </div>
      </div>
    </div>
    <div *ngIf="chosenFlightPathTo.length > 0" class="input-group mb-3">
      <button class="btn btn-primary" *ngIf="chosenFlightPathFrom.length > 0 && isRoundTrip"
        (click)="addToCartRoundTrip()">
        Add to Cart
      </button>
      <button class="btn btn-primary" *ngIf="!isRoundTrip" (click)="addToCart()">
        Add to Cart
      </button>
    </div>
  </div>