<div class="list-group list-group-flush">
  <div
    *ngFor="let flight of flights"
    class="list-group-item d-flex w-100 justify-content-between"
  >
    <div>
      <p class="mb-1">
        {{ flight.route.originAirport.iataId }} &rarr;
        {{ flight.route.destinationAirport.iataId }}
      </p>
      <small
        class="text-muted"
        style="display: block"
        *ngIf="regularPassengers.length > 0"
        >{{ flight.seatPrice | currency: "USD" }} / seat &times;
        {{ regularPassengers.length }} passengers</small
      >
      <small
        class="text-muted"
        style="display: block"
        *ngIf="elderlyPassengers.length > 0"
        >{{ flight.seatPrice - flight.seatPrice * 0.2 | currency: "USD" }} /
        seat &times; {{ elderlyPassengers.length }} senior passengers</small
      >
      <small
        class="text-muted"
        style="display: block"
        *ngIf="childPassengers.length > 0"
        >{{ flight.seatPrice - flight.seatPrice * 0.2 | currency: "USD" }} /
        seat &times; {{ childPassengers.length }} child passengers</small
      >
    </div>

    <h6>
      {{
        flight.seatPrice * regularPassengers.length +
          (flight.seatPrice - flight.seatPrice * 0.2) *
            elderlyPassengers.length +
          (flight.seatPrice - flight.seatPrice * 0.2) * childPassengers.length
          | currency: "USD"
      }}
    </h6>
  </div>
  <div class="list-group-item d-flex w-100 justify-content-between">
    <div>
      <p class="mb-1">Subtotal</p>
    </div>
    <h6 class="subtotal">{{ subTotal | currency: "USD" }}</h6>
  </div>
  <div class="list-group-item d-flex w-100 justify-content-between">
    <div>
      <p class="mb-1">Taxes & Fees</p>
      <small class="text-muted">
        {{ taxRate | percent: "1.2-2" }}
      </small>
    </div>
    <h6 class="tax">{{ tax | currency: "USD" }}</h6>
  </div>
  <div class="list-group-item d-flex w-100 justify-content-between">
    <div>
      <p class="mb-1">Grand Total</p>
    </div>
    <h5>{{ grandTotal | currency: "USD" }}</h5>
  </div>
</div>
<pre>{{ regularPassengers | json }}</pre>
<pre>{{ elderlyPassengers | json }}</pre>
<pre>{{ childPassengers | json }}</pre>
