<h1 class="mt-5">Checkout</h1>
<p>Guest</p>
<ul
  ngbNav
  #nav="ngbNav"
  [destroyOnHide]="false"
  class="nav-tabs"
  [activeId]="activePage"
  (activeIdChange)="pageChanged($event)"
>
  <li [ngbNavItem]="1">
    <a ngbNavLink>Personal Information</a>
    <ng-template ngbNavContent>
      <app-guest-booking-form
        (guestBookingFormSubmitEvent)="handleGuestBookingForm($event)"
      ></app-guest-booking-form>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" [disabled]="!stepOneCompleted">
    <a ngbNavLink>Passenger Information</a>
    <ng-template ngbNavContent>
      <app-passengers-form
        (passengersFormSubmitEvent)="handlePassengersForm($event)"
      ></app-passengers-form>
    </ng-template>
  </li>
  <li [ngbNavItem]="3" [disabled]="!stepTwoCompleted">
    <a ngbNavLink>Payment</a>
    <ng-template ngbNavContent>
      <app-payment-form
        (paymentFormSubmitEvent)="handlePaymentForm($event)"
        [passengerCount]="passengerCount"
      ></app-payment-form>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<!--<button (click)="nav.select('ngb-nav-' + 2)">test</button>-->
<!--{{ nav.activeId }}-->
