.seatingClassTitle {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 5px;
}

.emptySpace {
  width: 30px;
  height: 30px;
}

table {
  display: inline-block;
}

.row-marker {
  font-weight: bold;
  padding-right: 15px;
}
