<div class="seatingClassTitle">{{ seatingClass }}</div>
<br />
<table>
  <ng-container *ngFor="let row of this.rows">
    <tr *ngIf="rowHasSeats(row)">
      <td class="row-marker">{{ row }}</td>
      <td *ngFor="let col of this.cols">
        <ng-container *ngIf="this.getSeat(row, col) as seat; else emptySpace">
          <ng-container
            *ngIf="
              this.getSeatLocation(row, col) as seatLocation;
              else emptySpace
            "
          >
            <app-seat
              [column]="seatLocation.col"
              [row]="seatLocation.row"
              [occupied]="!!seat.passenger"
              [width]="seatLocation.width"
              [height]="seatLocation.height"
              [selected]="isSelected(seatLocation.row, seatLocation.col)"
              (seatSelectEvent)="seatSelectEvent.emit($event)"
            ></app-seat>
          </ng-container>
        </ng-container>
        <ng-template #emptySpace>
          <div class="emptySpace"></div>
        </ng-template>
      </td>
    </tr>
  </ng-container>
</table>
<br />
