<form [formGroup]="passengersForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Edit Booking</h4>
  </div>
  <div class="modal-body">
    <div formArrayName="passengers">
      <div
        *ngFor="let passenger of passengers.controls; let i = index"
        [formGroupName]="i"
      >
        <hr *ngIf="i !== 0" />
        <div class="form-group row">
          <label for="givenName" class="col-sm-3 col-form-label"
            >First Name*</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="givenName"
              placeholder="John"
              formControlName="givenName"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="familyName" class="col-sm-3 col-form-label"
            >Last Name*</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="familyName"
              placeholder="Smith"
              formControlName="familyName"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="dob" class="col-sm-3 col-form-label">Birthday*</label>
          <div class="input-group col-sm-9">
            <input
              class="form-control"
              id="dob"
              placeholder="yyyy-mm-dd"
              formControlName="dob"
              ngbDatepicker
              #d="ngbDatepicker"
              [minDate]="{ year: 1900, month: 1, day: 1 }"
              [maxDate]="today"
            />
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
              >
                <i class="bi-calendar3" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="gender" class="col-sm-3 col-form-label">Gender*</label>
          <div class="col-sm-9">
            <select class="form-control" id="gender" formControlName="gender">
              <option>---Select Gender---</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-sm-3 col-form-label">Address*</label>
          <div class="input-group col-sm-9">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi-geo-alt" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="123 Maple St."
              formControlName="address"
            />
          </div>
        </div>
      </div>
    </div>
    <pre>
      {{ passengersForm.value | json }}
    </pre>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-between" style="width: 100%">
      <div>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="activeModal.close('cancel')"
        >
          Cancel
        </button>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!passengersForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
