@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body > app-root > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
